body{
    background-color: #cce1fc;
    padding: 0;
    margin: 0;
}
*{
    font-family: Arial;
}
header{
    z-index: 10;
    width: 100%;
    position: fixed;
    background-color: rgb(77, 151, 255);
    display: flex;
    height: 54px;
    justify-content: space-between;
}
.logo{
    height: 54px;
    vertical-align: middle;
}
.header-button{
    border: none;
    background: transparent;
    color: white;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    height: 54px;
}
.logo-button{
    padding-left: 0;
    padding-right: 0;
}
.header-button:hover{
    background-color: rgb(15, 189, 140);
}
button{
    outline: none;
    cursor: pointer;
}
input{
    outline: none;
    border: solid #bbbbbb 1px;
    height: 20px;
    width: 400px;
    border-radius: 20px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 20px;
}
input:hover{
    border-color: #7eaffc;
}
input[type=checkbox]{
    padding: 0;
    height: auto;
    border: none;
}
a{
    color: #27c4f5;
    text-decoration: none;
}
.new-div{
    padding: 50px;
    text-align: right;
    padding-top: 104px;
}
.new-button{
    border: none;
    background-color: rgb(15, 189, 140);
    border-radius: 20px;
    color: white;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    height: 54px;
}
#projects{
    text-align: center;
}
.project-button{
    margin: 20px;
    border-radius: 20px;
    background-color: white;
    border: solid #bbbbbb 1px;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    cursor: pointer;
}
.project-button-name{
    padding: 5px;
    font-size: 17px;
    background-color: rgb(77, 151, 255);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    align-items: center;
    color: white;
}
.project-img{
    width: 100%;
    height: calc(100% - 27px);
}
.project-img img{
    border: none;
    width: 100%;
}
.project-delete-button{
    padding: 0;
    width: 28px;
    height: 28px;
    position: absolute;
    transform: translate(186px, -14px);
    background-color: rgb(77, 151, 255);
    border-radius: 50%;
    border: none;
}
#create-div{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #6eaaff;
    padding: 40px;
    border-radius: 20px;
}
#create-div h2{
    text-align: center;
}
#create-div label{
    margin-left: 20px;
}
.create-cancel-button{
    border: none;
    background-color: transparent;
    color: white;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    height: 54px;
}
.create-cancel-button:hover{
    text-decoration: underline;
}
#context-menu{
    width: 200px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: absolute;
    background-color: white;
    border-radius: 5px;
    border: solid #bbbbbb 1px;
}
.context-button{
    background-color: transparent;
    border: none;
    padding: 5px;
    border-radius: 0px;
    width: 100%;
}
.context-button:hover{
    background-color: rgb(77, 151, 255);
}
footer{
    color: white;
    text-align: center;
    padding: 30px;
    background-color: #17181b;
}
