input{
    outline: none;
    border: solid #bbbbbb 1px;
    height: 20px;
    width: 400px;
    border-radius: 20px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 20px;
}
input:hover{
    border-color: #7eaffc;
}
input[type=checkbox]{
    padding: 0;
    height: auto;
    border: none;
}
a{
    color: #27c4f5;
    text-decoration: none;
}
.new-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    text-align: right;
    padding-bottom: 30px;
    padding-top: 78px;
}
.new-div h1{
    font-size: 25px;
}
.new-button{
    border: none;
    background-color: #4d97ff;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    height: 48px;
}
#projects{
    max-width: 1000px;
    width: calc(100% - 100px);
    margin: auto;
    margin-bottom: 50px;
    text-align: center;
    flex-wrap: wrap;
}
.project-button{
    position: relative;
    margin: 20px;
    border-radius: 15px;
    background-color: white;
    border: solid #bbbbbb 1px;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.project-button-name {
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    padding: 5px;
    font-size: 17px;
    background-color: rgb(77, 151, 255);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    align-items: center;
    color: white;
}
.project-img {
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    overflow: hidden;
    width: 100%;
    display: flex;
    height: calc(100% - 27px);
}
.project-img img{
    border: none;
    width: 100%;
}
.project-delete-button{
    padding: 0;
    width: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28px;
    top: -7px;
    right: -7px;
    position: absolute;
    background-color: rgb(77, 151, 255);
    border-radius: 50%;
    border: none;
}
#create-div{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #6eaaff;
    padding: 40px;
    border-radius: 20px;
}
#create-div h2{
    text-align: center;
}
#create-div label{
    margin-left: 20px;
}
.create-cancel-button{
    border: none;
    background-color: transparent;
    color: white;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    height: 54px;
}
.create-cancel-button:hover{
    text-decoration: underline;
}
#context-menu{
    width: 200px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: absolute;
    background-color: white;
    border-radius: 5px;
    border: solid #bbbbbb 1px;
}
.context-button{
    background-color: transparent;
    border: none;
    padding: 5px;
    border-radius: 0px;
    width: 100%;
}
.context-button:hover{
    background-color: rgb(77, 151, 255);
}
@media screen and (max-width: 750px){
    .new-div{
        text-align: center;
    }
    #projects{
        justify-content: center;
    }
    #create-div{
        left: 0;
        right: 0;
        top: 0;
        transform: none;
        bottom: 0;
        background-color: #6eaaff;
        padding: 20px;
        padding-top: 120px;
        border-radius: 0;
        text-align: center;
    }
    label{
        display: inline-block;
        margin-top: 20px;
    }
    input{
        width: calc(100% - 20px);
        margin: 20px 0;
    }
}