html, body{
    background-color: #cce1fc;
    width: 100%;
    height: 100%;
}
.game-buttons{
    /* text-align: center; */
    height: 48px;
}
.game-buttons input {
    outline: none;
    border: 1px dashed rgba(0, 0, 0, 0.086);
    height: 20px;
    color: white;
    font-size: 16px;
    transition-duration: 0.3s;
    background-color: hsla(0, 100%, 100%, 0.25);
    border-radius: 4px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.game-buttons input:focus,
.game-buttons input:hover {
    border: 1px solid rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 calc(0.5rem * .5) hsla(0, 100%, 100%, 0.25);
    background-color: white;
    color: black;
    border-color: #7eaffc;
}
.game-button{
    vertical-align: middle;
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    height: 20px;
    width: 20px;
    margin: 14px;
}
.editor{
    width: 100%;
    height: 100%;
}
.editor-div{
    position: absolute;
    left: 0;
    top: 48px;
    bottom: 0;
    right: 35%;
    border-right: solid #bbbbbb 2px;
    overflow: hidden;
    background-color: white;
}
#hide-show-arrow {
    cursor: pointer;
    z-index: 10;
    position: absolute;
    left: 65%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #bbbbbb;
    padding: 0px;
    height: 70px;
    width: 20px;
    z-index: 29;
}
#hide-show-arrow:before {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    content: '';
    position: absolute;
    top: 10px;
    right: 8px;
    height: 26px;
    width: 6px;
    background: white;
    transform: rotate(-12deg);
}
#hide-show-arrow:after {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    content: '';
    position: absolute;
    bottom: 10px;
    right: 8px;
    height: 26px;
    width: 6px;
    background: white;
    transform: rotate(12deg);
}
.console-div{
    position: absolute;
    right: 0;
    top: 48px;
    bottom: 50%;
    left: 65%;
    padding-top: 10px;
    border-bottom: solid #bbbbbb 2px;
    text-align: center;
    background-color: black;
    color: white;
    overflow: hidden;
}
#console{
    text-align: left;
    padding: 20px;
    height: calc(100% - 68px);
    border-top: solid #bbbbbb 1px;
    overflow-y: auto;
    overflow-x: hidden;
}
.js-viewer-div{
    position: absolute;
    right: 0;
    top: 50%;
    bottom: 0;
    left: 65%;
    text-align: center;
    background-color: #2d2d2d;
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
}
.js-viewer-div h2{
    margin-top: 10px;
    color: white;
}
input{
    outline: none;
    border: solid #bbbbbb 1px;
    height: 20px;
    border-radius: 20px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
input:hover{
    border-color: #7eaffc;
}
input[type=checkbox]{
    padding: 0;
    height: auto;
    border: none;
}
a{
    color: #27c4f5;
    text-decoration: none;
}
.tutorial-div img{
    max-width: 100%;
}
.tutorial-div {
    text-align: right;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 50px auto;
    max-width: 800px;
    width: calc(100% - 240px);
    padding: 50px;
    padding-left: 70px;
    border: solid #bbbbbb 1px;
    border-radius: 20px;
    background-color: white;
    z-index: 50;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.tutorial-div ol{
    text-align: left;
}
.tutorial-div::-webkit-scrollbar {
    display: none;
}
.tutorial-div h1{
    text-align: center;
    margin: 20px;
}
.tutorial-div p{
    font-size: 18px;
}
.tutorial-div li{
    font-size: 18px;
    margin: 20px;
}
.tutorial-background{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #8a8a8a99;
    z-index: 400;
}
.tutorial-times-button {
    position: fixed;
    transform: translate(10px, -25px);
    border: none;
    background-color: transparent;
    font-size: 17px;
    width: 15px;
}
.tutorial-close-button{
    color: white;
    font-size: 20px;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 10px;
    margin-left: 50px;
    background-color: #7eaffc;
    border-radius: 10px;
    border: none;
}
#save-div {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #8a8a8a99;
    z-index: 400;
}
.save-content {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 60px;
    border-radius: 20px;
    z-index: 30;
}
#save-div a{
    color: #5c90ff;
}
.save-cancel-button {
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    background-color: transparent;
    font-size: 17px;
    width: 15px;
}
.save-cancel-button:hover{
    text-decoration: underline;
}
.blocklyToolboxDiv::-webkit-scrollbar {
  display: none;
}
.blocklyToolboxDiv {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.dropdow-menu{
    display: none;
    position: absolute;
    background: #4d97ff;
    top: 100%;
    left: 0;
    min-width: 186px;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 8px 8px 0 #00000026;
    border: 1px solid #00000026;
    border-top: none;
    z-index: 50;
    overflow: hidden;
    list-style: disc;
    left: 0;
}
.dropdow-menu li {
    border: none;
    background: transparent;
    color: white;
    font-size: 16px;
    line-height: 34px;
    cursor: pointer;
    display: inline-flex;
    margin: 0;
    white-space: nowrap;
    display: block;
    border-radius: 0;
}
.dropdow-menu li:not(.label) {
    padding: 0 20px;
}
.custom-file-upload {
    padding: 0 20px;
    cursor: pointer;
    display: block;
}
.dropdow-menu li:hover {
    background-color: hsla(0, 0%, 0%, 0.15);
}
.dropdow-menu input[type="file"] {
    display: none;
}
.visible .header-button {
    background-color: hsla(0, 0%, 0%, 0.15);
}
.visible .dropdow-menu {
    display: block;
}
.header-dropdown {
    display: inline-block;
    position: relative;
}