body{
    background-color: #cce1fc;
    padding: 0;
    margin: 0;
}
*{
    padding: 0;
    margin: 0;
    font-family: Arial;
}
header{
    z-index: 100;
    width: 100%;
    position: fixed;
    background-color: #4d97ff;
    height: 48px;
}
header nav{
    display: flex;
    align-items: center;
}
#header-menu{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.logo {
    height: 48px;
    vertical-align: middle;
}
.header-button{
    border: none;
    background: transparent;
    color: white;
    font-size: 16px;
    padding: 0 30px;
    height: 48px;
    display: inline-flex;
    align-items: center;
}
#account-button svg{
    width: 17px;
    padding-right: 10px;
}
#logout-button {
    width: 20px;
    padding: 0 17px;
}
.header-section {
    align-items: center;
    display: flex;
}
.logo-button{
    padding-left: 0;
    padding-right: 0;
    border: none;
    background: transparent;
    color: white;
    height: 48px;
}
.header-button:hover {
    background-color: hsla(0, 0%, 0%, 0.15);
}
button{
    outline: none;
    cursor: pointer;
}
.burger-button{
    display: none;
    flex-direction: column;
    align-items: center;
    width: 30.14px;
    height: 12px;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    z-index: 100;
}
.burger-button-line{
    display: block;
    height: 2px;
    width: 100%;
    background-color: white;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(.5,0,0,1);
}
.bottom{
    transform: translateY(10px);
}
@media screen and (max-width: 750px){
    header nav{
        justify-content: space-between;
    }
    .burger-button{
        display: flex;
    }
    #header-menu{
        position: fixed;
        display: flex;
        flex-direction: column;
        background-color: #4d97ff;
        z-index: 50;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        transition: .5s ease-in-out;
        opacity: 0;
        pointer-events: none;
        padding: 54px 0;
    }
    .header-button{
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        justify-content: center;
    }
}