html{
    height: 100%;
}
body{
    height: 100%;
}
input{
    outline: none;
    border: solid #bbbbbb 1px;
    height: 20px;
    width: 400px;
    border-radius: 20px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 20px;
}
input:hover{
    border-color: #7eaffc;
}
input[type=checkbox]{
    padding: 0;
    height: auto;
    border: none;
}
a{
    color: #2f6dc4;
    text-decoration: none;
}
.wiki{
    padding-top: 48px;
    min-height: calc(100% - 48px);
    display: flex;
}
ul {
    list-style-type: none;
}
#navigation-menu {
    position: fixed;
    display: block;
    text-align: left;
    top: 48px;
    bottom: 0;
    left: 0;
    width: 350px;
    margin: 0;
    padding: 20px;
    overflow: auto;
}
#navigation-menu a {
    display: block;
    color: black;
    font-size: 17px;
    padding: 5px 0;
}
.caret {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 20px;
    padding: 10px 0;
}
.caret span {
    padding-left: 10px;
}
.caret svg {
    transition-duration: 0.3s;
}
.caret-down svg {
    transform: rotate(90deg);  
}
.nested {
    height: 0;
    overflow: hidden;
    transition-duration: 0.3s;
    padding-left: 15px;
}
.active {
    height: auto;
}
.content{
    background-color: white;
    text-align: left;
    width: 100%;
    min-height: 100%;
    margin-left: 390px;
}
.content div{
    padding: 50px;
}
.content div:not(:last-child){
    padding-bottom: 0;
}
.content h1{
    text-align: center;
    margin: 20px;
}
.content p{
    font-size: 18px;
}
.content li{
    font-size: 18px;
    margin: 20px;
}
.content img{
    max-width: 100%;
}
@media screen and (max-width: 750px){
    .content{
        margin: 0;
    }
    #navigation-menu{
        position: relative;
        top: initial;
        bottom: initial;
        left: initial;
        right: initial;
        width: initial;
    }
    .wiki{
        flex-direction: column;
    }
}