html{
    height: 100%;
}
body{
    background-color: #cce1fc;
    padding: 0;
    margin: 0;
    height: 100%;
}
*{
    font-family: Arial;
}
header{
    z-index: 10;
    width: 100%;
    position: fixed;
    background-color: #4d97ff;
    height: 54px;
}
header nav{
    display: flex;
    align-items: center;
}
#header-menu{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.logo{
    height: 54px;
    vertical-align: middle;
}
.header-button{
    border: none;
    background: transparent;
    color: white;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    height: 54px;
    display: inline-flex;
    align-items: center;
}
.logo-button{
    padding-left: 0;
    padding-right: 0;
    border: none;
    background: transparent;
    color: white;
    font-size: 20px;
    height: 54px;
}
.header-button:hover{
    background-color: rgb(15, 189, 140);
}
button{
    outline: none;
    cursor: pointer;
}
input{
    outline: none;
    border: solid #bbbbbb 1px;
    height: 20px;
    width: 400px;
    border-radius: 20px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 20px;
}
input:hover{
    border-color: #7eaffc;
}
input[type=checkbox]{
    padding: 0;
    height: auto;
    border: none;
}
a{
    color: #2f6dc4;
    text-decoration: none;
}
.wiki{
    padding-top: 54px;
    min-height: calc(100% - 132.4px);
    display: flex;
}
ul, #navigation-menu {
    list-style-type: none;
}
#navigation-menu {
    position: fixed;
    display: block;
    text-align: left;
    top: 54px;
    bottom: 78px;
    left: 0;
    width: 350px;
    margin: 0;
    padding: 20px;
    overflow: auto;
}
#navigation-menu a{
    color: black;
}
.caret {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}
.caret-down::before {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);  
}
.nested {
    display: none;
}
.active {
    display: block;
}
.content{
    background-color: white;
    text-align: left;
    width: 100%;
    min-height: 100%;
    margin-left: 390px;
}
.content div{
    padding: 50px;
}
.content h1{
    text-align: center;
    margin: 20px;
}
.content p{
    font-size: 18px;
}
.content li{
    font-size: 18px;
    margin: 20px;
}
.content img{
    max-width: 100%;
}
.burger-button{
    display: none;
    flex-direction: column;
    align-items: center;
    width: 30.14px;
    height: 12px;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    z-index: 100;
}
.burger-button-line{
    display: block;
    height: 2px;
    width: 100%;
    background-color: white;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(.5,0,0,1);
}
.bottom{
    transform: translateY(10px);
}
.demontrations-img{
    width: calc(50% - 40px);
    vertical-align: middle;
}
@media screen and (max-width: 750px){
    header nav{
        justify-content: space-between;
    }
    .burger-button{
        display: flex;
    }
    #header-menu{
        position: fixed;
        display: flex;
        flex-direction: column;
        background-color: #4d97ff;
        z-index: 50;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        transition: .5s ease-in-out;
        opacity: 0;
        pointer-events: none;
        padding: 54px 0;
    }
    .header-button{
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        justify-content: center;
    }
    .title-div{
        text-align: center;
        margin: 0;
        padding: 20px;
    }
    .title-div h1{
        font-size: 1.8rem;
    }
    .title-div h2{
        font-size: 1.6rem;
    }
    .title-div h3{
        font-size: 1.2rem;
    }
    .title-buttons-div{
        margin: 0;
        margin: initial;
    }
    .presentation{
        background: #6eaaff;
        height: 100%;
    }
    .presentation::after{
        content: none;
    }
    .content{
        padding: 10px;
    }
    .demontrations-img{
        width: 100%;
    }
}