<% if (isEditor === false) { %>
    <header>
        <nav>
            <a class="logo-button" href="/"><img class="logo" src="/assets/images/logo.png" alt="Logo"></a>
            <div id="header-menu">
                <div class="header-section">
                    <!-- <a class="header-button" href="/simple_editor">Simple Editor</a> -->
                    <a class="header-button" href="/advanced_editor"><!-- Advanced  -->Editor</a>
                    <a class="header-button" href="/wiki">Wiki</a>
                    <a class="header-button" href="https://discord.gg/jwVzMKuNym">Discord Server</a>
                    <!-- <a class="header-button" href="/extentions">Extentions</a> -->
                </div>
                <div class="header-section">
                    <% if (connected) { %>
                        <a class="header-button" id="account-button" href="/account"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                <path fill="currentColor" d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm89.6 32h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4z"></path>
                            </svg><%= username %></a>
                        <a class="header-button" id="logout-button" href="/logout">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <path fill="currentColor" d="M497 273L329 441c-15 15-41 4.5-41-17v-96H152c-13.3 0-24-10.7-24-24v-96c0-13.3 10.7-24 24-24h136V88c0-21.4 25.9-32 41-17l168 168c9.3 9.4 9.3 24.6 0 34zM192 436v-40c0-6.6-5.4-12-12-12H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h84c6.6 0 12-5.4 12-12V76c0-6.6-5.4-12-12-12H96c-53 0-96 43-96 96v192c0 53 43 96 96 96h84c6.6 0 12-5.4 12-12z"></path>
                            </svg>
                        </a>
                    <% }else{ %> 
                        <a class="header-button login-button" href="/login">Login</a>
                    <% } %> 
                </div>
            </div>
            <div class="burger-button" onclick="openmenu()">
                <span class="burger-button-line top"></span>
                <span class="burger-button-line bottom"></span>
            </div>
        </nav>
        <script>
            function openmenu() {
                if (!document.getElementsByClassName("top")[0].style.transform) {
                    document.getElementsByClassName("top")[0].style.transform = "translateY(6px) rotate(45deg)";
                    document.getElementsByClassName("bottom")[0].style.transform = "translateY(5px) rotate(-45deg) translateY(-2px)";
                    document.getElementById("header-menu").style.opacity = "1";
                    document.getElementById("header-menu").style.pointerEvents = "all";
                } else {
                    document.getElementsByClassName("burger-button")[0].style.paddingBottom = "";
                    document.getElementsByClassName("top")[0].style.transform = "";
                    document.getElementsByClassName("bottom")[0].style.transform = "";
                    document.getElementById("header-menu").style.opacity = "";
                    document.getElementById("header-menu").style.pointerEvents = "";
                }
            }
        </script>
    </header>
<% }else{ %>
    <header>
        <nav>
            <a class="logo-button" href="/"><img class="logo" src="/assets/images/logo.png" alt="Logo"></a>
            <div id="header-menu">
                <div class="header-section">
                    <a class="header-button" href='/wiki'>Wiki</a>
                    <div class="header-dropdown" id="file-menu">
                        <button class="header-button"
                            onclick="document.getElementById('file-menu').classList.add('visible');">File</button>
                        <ul class="dropdow-menu">
                            <!-- <li onclick="document.location.href = '/advanced_editor';">
                                Advanced Editor
                            </li> -->
                            <li class="label">
                                <label class="custom-file-upload">
                                    <input type="file" id="file-input" accept=".ds">
                                    Open
                                </label>
                            </li>
                            <li onclick="download();">
                                Save
                            </li>
                            <li onclick="downloadJS();">
                                Export as JS
                            </li>
                        </ul>
                    </div>
                    <div class="header-dropdown" id="edit-menu">
                        <button class="header-button" onclick="document.getElementById('edit-menu').classList.add('visible');">Edit</button>
                        <ul class="dropdow-menu">
                            <li onclick="workspace.undo(false);">
                                Undo
                            </li>
                            <li onclick="workspace.undo(true);">
                                Redo
                            </li>
                            <li onclick="workspace.cleanUp();">
                                Clean
                            </li>
                        </ul>
                    </div>
                </div>
                <script>
                    window.addEventListener("click", (e) => {
                        if (e.target !== document.getElementsByClassName("header-button")[1]) {
                            document.getElementById('file-menu').classList.remove('visible');
                        }
                        if (e.target !== document.getElementsByClassName("header-button")[2]) {
                            document.getElementById('edit-menu').classList.remove('visible');
                        }
                    });
                </script>
                <div class="game-buttons header-section">
                    <% if (connected) { %>
                        <input type="text" id="name-input" name="name" value="Untitled" onchange="updateName()">
                    <% } %>
                    <button class="game-button" id="play" onclick="play()"><img src="/assets/images/play.svg" alt="Play"></button>
                </div>
                <div class="header-section">
                    <% if (connected) { %>
                        <a class="header-button" id="account-button" href="/account"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                <path fill="currentColor" d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm89.6 32h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4z"></path>
                            </svg><%= username %></a>
                        <a class="header-button" id="logout-button" href="/logout">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <path fill="currentColor" d="M497 273L329 441c-15 15-41 4.5-41-17v-96H152c-13.3 0-24-10.7-24-24v-96c0-13.3 10.7-24 24-24h136V88c0-21.4 25.9-32 41-17l168 168c9.3 9.4 9.3 24.6 0 34zM192 436v-40c0-6.6-5.4-12-12-12H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h84c6.6 0 12-5.4 12-12V76c0-6.6-5.4-12-12-12H96c-53 0-96 43-96 96v192c0 53 43 96 96 96h84c6.6 0 12-5.4 12-12z"></path>
                            </svg>
                        </a>
                    <% }else{ %> 
                        <a class="header-button login-button" href="/login">Login</a>
                    <% } %> 
                </div>
            </div>
            <div class="burger-button" onclick="openmenu()">
                <span class="burger-button-line top"></span>
                <span class="burger-button-line bottom"></span>
            </div>
        </nav>
    </header>
<% } %>