<!DOCTYPE html>
<html lang="fr" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Discord Scratch</title>
        <link rel="shortcut icon" href="/assets/images/favicon.ico">
        <meta name="description" content="A web site to make discord bots with scratch.">
        <meta name="author" content="Clément Songis">
        <meta name="application-name" content="Discord Scratch">
        <meta name="theme-color" content="#cce1fc">
        <meta name="color-scheme" content="only light">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="index">
        <meta name="keywords" content="discord,scratch,bot">
        <link rel="stylesheet" href="/css/wiki.css">
        <link rel="stylesheet" href="/css/main.css">
        <script src="https://kit.fontawesome.com/740353a2ba.js"></script>
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body>
        <%- include('../templates/header', {isEditor: false}) %>
        <section class="wiki">
            <ul id="navigation-menu">
                <li>
                    <div class="caret caret-down">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1.2em" height="1.2em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" aria-hidden="true">
                            <g fill="none">
                                <path d="M9 5l7 7l-7 7" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                            </g>
                        </svg>
                        <span><a href="#Getting-Started" style="font-size: 20px;">Getting Started</a></span>
                    </div>
                    <ul class="nested active">
                        <li><a href="#Getting-Started-Create-Discord-Application">Create Discord Application</a></li>
                        <li><a href="#Getting-Started-Invite-Discord-Bot">Invite Discord Bot</a></li>
                    </ul>
                </li>
                <li>
                    <div class="caret">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1.2em" height="1.2em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" aria-hidden="true">
                            <g fill="none">
                                <path d="M9 5l7 7l-7 7" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                            </g>
                        </svg>
                        <span><a href="#Blocks" style="font-size: 20px;">Blocks</a></span>
                    </div>
                    <ul class="nested">
                        <li>
                            <div class="caret">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1.2em" height="1.2em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" aria-hidden="true">
                                    <g fill="none">
                                        <path d="M9 5l7 7l-7 7" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </g>
                                </svg>
                                <span><a href="#Blocks-Discord">Discord</a></span>
                            </div>
                            <ul class="nested">
                                <li><a href="#Blocks-Discord-Reply">Reply</a></li>
                                <li><a href="#Blocks-Discord-Send">Send</a></li>
                                <li><a href="#Blocks-Discord-Edit">Edit</a></li>
                                <li><a href="#Blocks-Discord-Delete">Delete</a></li>
                                <li><a href="#Blocks-Discord-React">React</a></li>
                            </ul>
                        </li>
                        <li>
                            <div class="caret">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1.2em" height="1.2em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" aria-hidden="true">
                                    <g fill="none">
                                        <path d="M9 5l7 7l-7 7" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </g>
                                </svg>
                                <span><a href="#Blocks-Events">Events</a></span>
                            </div>
                            <ul class="nested">
                                <li><a href="#Blocks-Events-On">On</a></li>
                                <li><a href="#Blocks-Events-On-Output-Variables">On Variables</a></li>
                                <li><a href="#Blocks-Events-Flag">Flag</a></li>
                            </ul>
                        </li>
                        <li>
                            <div class="caret">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1.2em" height="1.2em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" aria-hidden="true">
                                    <g fill="none">
                                        <path d="M9 5l7 7l-7 7" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </g>
                                </svg>
                                <span><a href="#Blocks-Control">Control</a></span>
                            </div>
                            <ul class="nested">
                                <li><a href="#Blocks-Control-Wait">Wait</a></li>
                                <li><a href="#Blocks-Control-Repeat">Repeat</a></li>
                                <li><a href="#Blocks-Control-If">If</a></li>
                                <li><a href="#Blocks-Control-If-Else">If Else</a></li>
                                <li><a href="#Blocks-Control-Wait-Until">Wait Until</a></li>
                                <li><a href="#Blocks-Control-Repeat-Until">Repeat Until</a></li>
                                <li><a href="#Blocks-Control-While">While</a></li>
                            </ul>
                        </li>
                        <li>
                            <div class="caret">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1.2em" height="1.2em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" aria-hidden="true">
                                    <g fill="none">
                                        <path d="M9 5l7 7l-7 7" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </g>
                                </svg>
                                <span><a href="#Blocks-Sensing">Sensing</a></span>
                            </div>
                            <ul class="nested">
                                <li><a href="#Blocks-Sensing-Log">Log</a></li>
                                <li><a href="#Blocks-Sensing-Bot">Bot</a></li>
                                <li><a href="#Blocks-Sensing-System-Channel">System Channel</a></li>
                                <li><a href="#Blocks-Sensing-Message-Content">Message Content</a></li>
                                <li><a href="#Blocks-Sensing-Object-Of">Object Of</a></li>
                                <li><a href="#Blocks-Sensing-Fetch">Fetch</a></li>
                                <li><a href="#Blocks-Sensing-Fetch-Object">Fetch Object</a></li>
                                <li><a href="#Blocks-Sensing-Get-ID">Get ID</a></li>
                                <li><a href="#Blocks-Sensing-Reset-Date">Reset Date</a></li>
                                <li><a href="#Blocks-Sensing-Set-Date">Set Date</a></li>
                                <li><a href="#Blocks-Sensing-Get-Date">Get Date</a></li>
                                <li><a href="#Blocks-Sensing-Get-Current">Get Current</a></li>
                                <li><a href="#Blocks-Sensing-UserName">UserName</a></li>
                                <li><a href="#Blocks-Sensing-User-ID">User ID</a></li>
                            </ul>
                        </li>
                        <li>
                            <div class="caret">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1.2em" height="1.2em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" aria-hidden="true">
                                    <g fill="none">
                                        <path d="M9 5l7 7l-7 7" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </g>
                                </svg>
                                <span><a href="#Blocks-Operators">Operators</a></span>
                            </div>
                            <ul class="nested">
                                <li><a href="#Blocks-Operators-Arithmetic">Arithmetic operators</a></li>
                                <li><a href="#Blocks-Operators-Comparison">Comparison operators</a></li>
                                <li><a href="#Blocks-Operators-Binary">Binary operators</a></li>
                                <li><a href="#Blocks-Operators-Random">Random</a></li>
                                <li><a href="#Blocks-Operators-Join">Join</a></li>
                                <li><a href="#Blocks-Operators-Letter-Of">Letter Of</a></li>
                                <li><a href="#Blocks-Operators-Length">Length</a></li>
                                <li><a href="#Blocks-Operators-Contains">Contains</a></li>
                                <li><a href="#Blocks-Operators-Starts-With">Starts With</a></li>
                                <li><a href="#Blocks-Operators-Modulo">Modulo</a></li>
                                <li><a href="#Blocks-Operators-Trigonometry">Trigonometry</a></li>
                            </ul>
                        </li>
                        <li>
                            <div class="caret">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1.2em" height="1.2em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" aria-hidden="true">
                                    <g fill="none">
                                        <path d="M9 5l7 7l-7 7" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </g>
                                </svg>
                                <span><a href="#Blocks-Variables">Variables</a></span>
                            </div>
                            <ul class="nested">
                                <li><a href="#Blocks-Variables-Variable">Variable</a></li>
                                <li><a href="#Blocks-Variables-Set">Set</a></li>
                                <li><a href="#Blocks-Variables-Change">Change</a></li>
                                <li><a href="#Blocks-Variables-Variable">List</a></li>
                                <li><a href="#Blocks-Variables-Add">Add</a></li>
                                <li><a href="#Blocks-Variables-Split">Split</a></li>
                                <li><a href="#Blocks-Variables-Delete">Delete</a></li>
                                <li><a href="#Blocks-Variables-Delete-All">Delete All</a></li>
                                <li><a href="#Blocks-Variables-Insert">Insert</a></li>
                                <li><a href="#Blocks-Variables-Replace">Replace</a></li>
                                <li><a href="#Blocks-Variables-Join">Join</a></li>
                                <li><a href="#Blocks-Variables-Item">Item</a></li>
                                <li><a href="#Blocks-Variables-Index-Of">Index Of</a></li>
                                <li><a href="#Blocks-Variables-Length">Length</a></li>
                                <li><a href="#Blocks-Variables-Contains">Contains</a></li>
                            </ul>
                        </li>
                        <li>
                            <div class="caret">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1.2em" height="1.2em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" aria-hidden="true">
                                    <g fill="none">
                                        <path d="M9 5l7 7l-7 7" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </g>
                                </svg>
                                <span><a href="#Blocks-My-Blocks">My Blocks</a></span>
                            </div>
                            <ul class="nested">
                                <li><a href="#Blocks-My-Blocks-Reply">Comming Soon</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="caret">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1.2em" height="1.2em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" aria-hidden="true">
                            <g fill="none">
                                <path d="M9 5l7 7l-7 7" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                            </g>
                        </svg>
                        <span><a href="#Extentions" style="font-size: 20px;">Extentions</a></span>
                    </div>
                    <ul class="nested">
                        <li><a href="#Extentions-Comming-Soon">Comming Soon</a></li>
                    </ul>
                </li>
            </ul>
            <div class="content" id="Getting-Started">
                <div id="Getting-Started-Create-Discord-Application">
                    <h1>Create Discord Application</h1>
                    <p>So that your application can connect to discord you must create an application on the <a href="https://discord.com/developers/applications">Discord developers pannel</a>.</p>
                    <ol>
                        <li><a href="https://discord.com/developers/applications">Open Discord developers pannel</a> and click on "New Application"<br><img src="/assets/images/tutorial1.jpg" alt="New Application"></li>
                        <li>Choose a name and click on "Create"<br><img src="/assets/images/tutorial2.jpg" alt="Create"></li>
                        <li>Go to "Bot"<br><img src="/assets/images/tutorial3.jpg" alt="Bot"></li>
                        <li>Click on "Add Bot"<br><img src="/assets/images/tutorial4.jpg" alt="Add Bot"></li>
                        <li>Click on "Copy"<br><img src="/assets/images/tutorial5.jpg" alt="Copy"></li>
                        <li>And paste token in<br><img src="/assets/images/tutorial6.jpg" alt="Paste"></li>
                    </ol>
                </div>
                <div id="Getting-Started-Invite-Discord-Bot">
                    <h1>Invite Discord Bot</h1>
                    <ol>
                        <li><a href="https://discord.com/developers/applications">Open Discord developers pannel</a> and click on your application</li>
                        <li>Go to "OAuth2"<br><img src="/assets/images/tutorial3.jpg" alt="Bot"></li>
                        <li>Select "bot"<br><img src="/assets/images/tutorial7.jpg" alt="scopes"></li>
                        <li>Select your bot permissions<br><img src="/assets/images/tutorial8.jpg" alt="permissions"></li>
                        <li>And click on "copy" after the url<br><img src="/assets/images/tutorial9.jpg" alt="Copy"></li>
                        <li>And past URL in a new tab</li>
                        <li>Now you can select your server and click on "Authorize"</li>
                    </ol>
                </div>
            </div>
            <div class="content" id="Blocks" style="display: none;">
                <div><h1>Comming Soon</h1></div>
            </div>
            <div class="content" id="Extentions" style="display: none;">
                <div><h1>Comming Soon</h1></div>
            </div>
        </section>
        <script>
            var toggler = document.getElementsByClassName("caret");
            for (var i = 0; i < toggler.length; i++) {
              toggler[i].addEventListener("click", function() {
                this.parentElement.querySelector(".nested").classList.toggle("active");
                this.classList.toggle("caret-down");
              });
            }
            window.onhashchange = function() {
                if (window.location.hash.includes("Getting-Started")) {
                    document.getElementById("Getting-Started").style.display = "block";
                    document.getElementById("Blocks").style.display = "none";
                    document.getElementById("Extentions").style.display = "none";
                }else if (window.location.hash.includes("Blocks")) {
                    document.getElementById("Getting-Started").style.display = "none";
                    document.getElementById("Blocks").style.display = "block";
                    document.getElementById("Extentions").style.display = "none";
                }else if (window.location.hash.includes("Extentions")) {
                    document.getElementById("Getting-Started").style.display = "none";
                    document.getElementById("Blocks").style.display = "none";
                    document.getElementById("Extentions").style.display = "block";
                }
            };
            window.onhashchange();
        </script>
    </body>
</html>
